.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}



.heading {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.qusion {
  padding-top: 50px;
}
.s {
  padding-top: 20px;
}

.matchings > span {
  display: inline-block;
   width: 200px;
  /* text-align: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center; */
}